// Base configuration for the NGS pipelines

params {
    verbose = true

    // path to data
    resourceDir = '/home/holtgrem/Data'

    // path to genome to use
    params.genome = "${resourceDir}/indices/grch37-bwa/human_g1k_v37.fasta"

    // threads / CPU usage
    fastqc {
        cpus = 2
    }

    // Configuration for Skewer.
    skewer {
        cpus = 8
        // Adapters for left (parameter -x) and right (-y) reads.
        adaptersR1 = "${resourceDir}/adapters/TruSeq3-PE-R1.fa"
        adaptersR2 = "${resourceDir}/adapters/TruSeq3-PE-R2.fa"
    }

    // Configuration of BWA mapping (includes piped samtools called)
    bwa {
        cpus = 8
    }
}
